/* I IMPORT THE ROBOTO FONT*/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap");

/* I APPLY BOX-SIZING TO EVERYTHING */

*,
*:before,
*:after {
  box-sizing: border-box;
}

/* I APPLY BOX-SIZING TO EVERYTHING */

body {
  font-family: "Roboto";
  background: linear-gradient(
    90deg,
    rgba(22, 135, 144, 1) 0%,
    rgba(16, 35, 40, 1) 100%
  );
}

/* EVERYTHING RELATED TO THE COUNTER  */
.counterBody {
  width: 50%;
  height: 400px;
  background-color: white;
  margin: 0 auto;
  margin-top: 200px;
  border-radius: 20px;
}

.roundCount {
  width: 150px;
  height: 150px;
  background-color: #499fa4;
  border-radius: 50%;
  margin: 0 auto;
  -webkit-box-shadow: 5px 5px 17px 5px rgba(37, 62, 64, 1);
  box-shadow: 5px 5px 17px 5px rgba(37, 62, 64, 1);
}

.placeRoundCount {
  padding-top: 20px;
}

.fontRoundCount {
  font-size: 80px;
  padding-top: 40px;
  padding-left: 0px;
  color: white;
}

.incrementDecrementCount {
  width: 90%;
  height: 100px;
  /* background-color: red; */
  margin-top: 20px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
}

.buttonCounter {
  height: 110px;
  width: 110px;
  background: linear-gradient(
    90deg,
    rgba(73, 159, 164, 1) 0%,
    rgba(73, 159, 164, 1) 35%,
    rgba(37, 62, 64, 1) 100%
  );

  -webkit-box-shadow: 5px 5px 17px 5px rgba(37, 62, 64, 1);
  box-shadow: 5px 5px 17px 5px rgba(37, 62, 64, 1);

  border-radius: 10% 34% 39% 34% / 0% 0% 41% 40%;
  user-select: none;
}

.buttonCounter:hover {
  animation: myAnim 2s ease 0s 1 normal forwards;
}

.placeIncrementDecrementCount {
  margin-top: 80px;
}

/* EVERYTHING RELATED TO THE COUNTER  */

@keyframes myAnim {
  0%,
  50%,
  100% {
    opacity: 1;
  }

  25%,
  75% {
    opacity: 0.5;
  }
}
